﻿@model ConfessionCG.Models.Confession.ConfessionAdd

@{
    ViewData["Title"] = "Create";
}


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img height="412px" width="820px" class="d-block w-100" src="~/img/Quotefancy-3909008-3840x2160.jpg" alt="First slide">
        </div>
    </div>
</div>
<hr />
<div style="text-align:center">
    <h2>Confession</h2>
    <h5>Bạn muốn chia sẻ với tụi mình?</h5>
</div>
<hr />
<div class="row" style="text-align:center">

    <div class="col-lg-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (TempData["Message"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["Message"]</p>
            }
            <div class="form-group">
                <p><b> Câu chuyện của bạn </b> </p>
                <div>
                    <textarea rows="4" cols="150" asp-for="Story" style="border:none" class="control-label" placeholder="Bài được đăng ẩn danh, vì thế thỏa mái chia sẽ với tụi mình nhé!"></textarea>
                </div>
                <span asp-validation-for="Story" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <p><b> Ảnh đăng kèm (nhấn nút ở dưới để up ảnh hoặc để trống nếu bạn không cần ảnh) </b> </p>
                @*<label asp-for="ImageLink" class="control-label" ></label>*@
                <div>
                    <textarea rows="4" cols="150" asp-for="ImageLink" style="border:none" class="control-label" placeholder="Nhập mỗi link ảnh một dòng"></textarea>
                </div>
                <span asp-validation-for="ImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gửi bài" class="btn btn-primary" />
                <a href="https://imgur.com/upload" target="_blank" class="btn btn-warning">Upload ảnh</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowConfession">Back to List</a>
</div>

