﻿@*@model IEnumerable<ConfessionCG.Models.Confession.ConfessionView>*@
@model PaginatedList<ConfessionCG.Models.Confession.ConfessionView>

@{
    ViewData["Title"] = "ShowConfession";
}

<h1>ShowConfession</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Story)*@
                Bài đăng
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ImageLink)*@
                Link ảnh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {@if (item.isDelete == true)
            {
                <tr>
                    <td style="opacity:0.3">
                        @Html.DisplayFor(modelItem => item.Story)
                    </td>
                    <td style="opacity:0.3">
                        @Html.DisplayFor(modelItem => item.ImageLink)
                    </td>
                    <td style="opacity:0.3">
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Story)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageLink)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div style="text-align:center">
    <a asp-action="ShowConfession"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-dark @prevDisabled">
        Previous
    </a>
    <a asp-action="ShowConfession"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-dark @nextDisabled">
        Next
    </a>
</div>